#container {
  height:100%;
  width: 100%;
	margin: auto auto;
}

#titlebar {
  height: 3%;
  font-size: 2rem;
}

#subcontainer {
  height:97%;
  overflow: hidden;
}
/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
  height: 100%;
	width: 85%;
	float: left;
	border: 1px solid black;
}

#sidebar {
  height: 100%;
	overflow: scroll;
  border: 1px solid black;
  margin-bottom: 1px;
}

#sidebar::-webkit-scrollbar {
  display: none;
}

#sidebar {
  -ms-overflow-style: none;
}


html, body {
	height: 100%;
	margin: auto auto;
}

input[type='checkbox'][class='toggle'] {
  display: none;
}

.lbl-toggle {
  display: block;

  font-weight: bold;
  font-family: monospace;
  font-size: 1rem;
  text-align: left;

  padding: 0.5rem;

  color: #0E1116;
  background: #8A7968;

  cursor: pointer;

  transition: all 0.1s ease-out;
}

.lbl-toggle:hover {
  color: #23262B;
}

.lbl-toggle::before {
  content: ' ';
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);

  transition: transform .1s ease-out;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .1s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 100vh;
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
  background: rgba(138, 121, 104, .2);
  border-bottom: 1px solid rgba(138, 121, 104, .45);
  padding: .5rem 1rem;
}