.container {
  height:100%;
  width: 100%;
	margin: auto auto;
  display: flex;
  flex-direction: column;
}

.titlebar {
  width: 100%;
  font-size: 2rem;
}

.subcontainer {
  height:100%;
  overflow: hidden;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid black;
  flex-grow: 1;
}

/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
.mapbox {
  height: 100%;
	width: 85%;
	float: left;
	border-right: 1px solid black;
}

.sidebar {
  height: 100%;
	overflow: scroll;
  background: rgba(138, 121, 104, .2);
  -ms-overflow-style: none;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.custom-select {
  display: none;
}
  
.monthselect {
    outline: none;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    padding: 12px 12px 15px 15px;
    font-size: 1rem;
    color: #0E1116;
    border: none;
    font-weight: bold;
}

.monthselect:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.speciesbuttons {
  border-top: 1px solid black;
}

html, body {
	height: 100%;
	margin: auto auto;
}

body {
    font-family: "Arial", monospace;
}

input[type='checkbox'][class='toggle'] {
  display: none;
}

.lbl-toggle {
  display: block;

  font-weight: bold;
  font-size: 1rem;
  text-align: left;

  padding: 0.5rem;

  color: #0E1116;
  background: #8A7968;

  cursor: pointer;

  transition: all 0.2s ease-out;
}

.lbl-toggle:hover {
  color: #23262B;
}

.lbl-toggle::before {
  content: ' ';
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .2s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 100vh;
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
  background: transparent;
  border-bottom: 1px solid rgba(138, 121, 104, .45);
  padding: .5rem 1rem;
}

.speciesname {
  text-align: left;
}